In [3]:
"hello Mike".find("Mike")

5

In [4]:
int(False)

0

In [5]:
'1'+'2'

'12'

In [6]:
myvar = 'hello'

In [7]:
myvar.upper()

'HELLO'

In [8]:
str(1)+str(1)

'11'

In [10]:
str(2)+str(1)

'21'

In [11]:
'2'+'1'

'21'

In [12]:
"123".replace("12", "ab")

'ab3'

In [13]:
x=1/1

In [15]:
print(x)

1.0

In [16]:
x=10/2

In [17]:
print(x)

5.0

In [18]:
print('Stefan Vanli')

Stefan Vanli

In [23]:
print('Stefan'+' '+'Vanli')

Stefan Vanli

In [24]:
import sys
print(sys.version)

3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]

In [25]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [26]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [27]:
type(2)

int

In [28]:
type(2)
type(2.0)

float

In [29]:
type(2.0)

float

In [30]:
x = 10 + 2

In [31]:
x

12

In [6]:
name = "Michael Jackson"
name[-2]

'o'

In [7]:
name = 'Michael Jackson'
name[0:4]

'Mich'

In [15]:
name = 'Stefan Vanli'
name[::2]

'Sea al'

In [16]:
name = 'Stefan Vanli'
name[0:7:2]

'Sea '

In [18]:
name = 'Michael Jackson'

In [19]:
len(name)

15

In [26]:
name = 'Stefan Vanli'

In [31]:
statement = name + ' is geboren op 10 september'

In [32]:
statement

'Stefan Vanli is geboren op 10 september'

In [34]:
name * 3

'Stefan VanliStefan VanliStefan Vanli'

In [35]:
print('Michael Jackson \n is the best')

Michael Jackson
 is the best

In [41]:
print('Stefan Vanli\nwerks as bedrijfsanalist \n bij Sonova \n op de Bahialaan 500 \n in Rotterdam')

Stefan Vanli
werks as bedrijfsanalist
 bij Sonova
 op de Bahialaan 500
 in Rotterdam

In [39]:
print('Stefan Vanli\nwerks as bedrijfsanalist\nbij Sonova\nop de Bahialaan 500\nin Rotterdam')

Stefan Vanli
werks as bedrijfsanalist
bij Sonova
op de Bahialaan 500
in Rotterdam

In [42]:
print('Stefan Vanli \t woont in Rotterdam')

Stefan Vanli 	 woont in Rotterdam

In [43]:
print('Stefan Vanli\twoont in Rotterdam')

Stefan Vanli	woont in Rotterdam

In [44]:
print('Stefan Vanli \\ Stefan Vanli')

Stefan Vanli \ Stefan Vanli

In [48]:
print(r'Stefan Vanli \ Stefan Vanli')

Stefan Vanli \ Stefan Vanli

In [55]:
A = 'Stefan Vanli works at home today'
B = A.upper()
B

'STEFAN VANLI WORKS AT HOME TODAY'

In [59]:
A = 'Stefan Vanli woont in Warschau'
B = A.replace('Warschau', 'Rotterdam')
B

'Stefan Vanli woont in Rotterdam'

In [61]:
A = 'Stefan Vanli will live in Amsterdam'
A.find('Amsterdam')

26

In [62]:
A.find('z')

-1