In [2]:
!pip install pycoingecko
!pip install plotly
!pip install mplfinance

Requirement already satisfied: pycoingecko in c:\programdata\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from pycoingecko) (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->pycoingecko) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->pycoingecko) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: plotly in c:\programdata\anaconda3\lib\site-packages (5.10.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from plotly) (8.0.1)
Requirement already satisfied: mplfinance in c:\programdata\anaconda3\lib\site-packages (0.12.9b1)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from mplfinance) (3.2.2)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from mplfinance) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: numpy>=1.11 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->mplfinance) (2020.1)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->mplfinance) (1.15.0)

In [3]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

In [4]:
dict_={'a':[11,21,31],'b':[12,22,32]}
dict_

{'a': [11, 21, 31], 'b': [12, 22, 32]}

In [5]:
dict_={'a':[11,21,31],'b':[12,22,32]}
print(dict_)

{'a': [11, 21, 31], 'b': [12, 22, 32]}

In [6]:
df = pd.DataFrame(dict_)
df.head()

    a   b
0  11  12
1  21  22
2  31  32

In [7]:
dict_2 = {'HR':[1971, 1972, 1973, 1974],'IT':[1981, 1982, 1983, 1984], 'Finance':[1991, 1992, 1993, 1994]}

In [13]:
df2 = pd.DataFrame(dict_2)
df2.head()

     HR    IT  Finance
0  1971  1981     1991
1  1972  1982     1992
2  1973  1983     1993
3  1974  1984     1994

In [12]:
pd.DataFrame(dict_2).mean()

HR         1972.5
IT         1982.5
Finance    1992.5
dtype: float64

In [14]:
df2.mean()

HR         1972.5
IT         1982.5
Finance    1992.5
dtype: float64

In [7]:
var = '01234567'

In [11]:
print(var[1::2])

1357

In [12]:
name = 'EMILY'

In [13]:
name.find('L')

3

In [14]:
int(3.99)

3

In [15]:
1/2

0.5

In [16]:
2//3

0

In [17]:
type(0)

int

In [18]:
type(2//3)

int

In [19]:
type(1/2)

float

In [20]:
A = ('a', 'b', 'c')

In [21]:
A[0]

'a'

In [22]:
A[:]

('a', 'b', 'c')

In [23]:
A[1]

'b'

In [24]:
'1, 2, 3, 4'.split(',')

['1', ' 2', ' 3', ' 4']

In [27]:
'1, 2, 3, 4'.split(':')

['1, 2, 3, 4']

In [28]:
'1, 2, 3, 4'.join(',')

','

In [30]:
a = set(A)
a

{'a', 'b', 'c'}

In [31]:
x = 1

In [43]:
if (x != 1): 
    print('Hello') 
else: 
    print('Hi') 
print('Mike')

Hi
Mike

In [44]:
if(x==1): 
    print('Hello') 
    
else: 
    print('Hi')
    
print('Mike')

Hello
Mike

In [45]:
if(x!=1): 
    print('Hi') 

else: 
    print('Hello') 

print('Mike')

Hello
Mike

In [69]:
def add(x): 
    return(x + x) 
add('4')

'44'

In [70]:
def add(x): 
    return(x + x) 
add(2)

4

In [71]:
def add(x):
    return(x + x + x) 
add('1')

'111'

In [75]:
A = ['1', '2', '3']
for a in A: 
    print(3 * a)

111
222
333

In [76]:
A = [1, 2, 3]
for a in A: 
    print(2 * a)

2
4
6

In [77]:
A = ['1', '2', '3']
for a in A: 
    print(2 * a)

11
22
33

In [78]:
for i in range(1, 5): 
    if (i != 1): 
        print(i)

2
3
4

In [79]:
for i in range(1, 5): 
    if (i == 2): 
        print(i)

2

In [80]:
for i in range(1, 5): 
    if (i != 2): 
        print(i)

1
3
4

In [89]:
import numpy as np

In [90]:
a = np.array([0, 1, 0, 1, 0])
b = np.array([1, 0, 1, 0, 1])

a + b

array([1, 1, 1, 1, 1])

In [91]:
a = np.array([1, 1, 1, 1, 1])

a + 10

array([11, 11, 11, 11, 11])