In [2]:
fruits = ['apple', 'banana', 'cherry']
fruits.index("cherry")

2

In [3]:
A = ((11,12), [21,22])
A[1]

[21, 22]

In [4]:
A = ((1), [2,3], [4])
A[2][0]

4

In [5]:
A = ["hard rock", 10, 1.2]
del(A[1])
A

['hard rock', 1.2]

In [6]:
len(("disco", 10, 1.2, "hard rock", 10))

5

In [8]:
A = {"The Bodyguard": "1992", "Saturday Night Fever": "1977"}
A.values()

dict_values(['1992', '1977'])

In [10]:
V = {'1', '2'}
V.add('3')
V

{'1', '2', '3'}

In [11]:
'1' in {'1', '2'}

True

In [21]:
tuple = (1, 2, ('Amsterdam', 'Rotterdam'), ('Paris', 'London'), (3, 4))
tuple[2][0]

'Amsterdam'

In [45]:
list = [1, 2, 3, 4, 5]

In [56]:
list = [1, 2, 3, 4, 5]
list.extend([[6, 7], 8])
list

[1, 2, 3, 4, 5, [6, 7], 8]

In [57]:
list = [1, 2, 3, 4, 5]
list.append([[6, 7], 8])
list

[1, 2, 3, 4, 5, [[6, 7], 8]]

In [67]:
largest_cities_list = 'Amsterdam, Rotterdam, Den Haag, Utrecht'.split(',')
largest_cities_list

['Amsterdam', ' Rotterdam', ' Den Haag', ' Utrecht']

list = [1, 2, 3]

In [68]:
help(list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [10]:
cities = ('Den Haag', 'Praag', 'Moskou', 'Berlijn', 'Parijs', 'Rotterdam', 'Utrecht', 'Antwerpen', 'Londen', 'Amsterdam')
cities

('Den Haag',
 'Praag',
 'Moskou',
 'Berlijn',
 'Parijs',
 'Rotterdam',
 'Utrecht',
 'Antwerpen',
 'Londen',
 'Amsterdam')

In [9]:
cities_alphabetical = sorted(cities)
cities_alphabetical

['Amsterdam',
 'Antwerpen',
 'Berlijn',
 'Den Haag',
 'Londen',
 'Moskou',
 'Parijs',
 'Praag',
 'Rotterdam',
 'Utrecht']

In [1]:
cities = ['Amsterdam', 'Rotterdam', 'Den Haag']
cities.extend(['Gouda', 'Delft'])
cities

['Amsterdam', 'Rotterdam', 'Den Haag', 'Gouda', 'Delft']

In [2]:
sorted(cities)

['Amsterdam', 'Delft', 'Den Haag', 'Gouda', 'Rotterdam']

In [6]:
cities_list = ('Amsterdam', 'Rotterdam', 'Den Haag')
cities_list_2 = cities_list + ('Gouda', 'Delft')
cities_list_2

('Amsterdam', 'Rotterdam', 'Den Haag', 'Gouda', 'Delft')

In [8]:
cities_list_3 = sorted(cities_list_2)
cities_list_3

['Amsterdam', 'Delft', 'Den Haag', 'Gouda', 'Rotterdam']

In [12]:
cities = ['Amsterdam', 'Rotterdam', 'Den Haag']
cities.append([['Gouda', 'Delft']])
cities

['Amsterdam', 'Rotterdam', 'Den Haag', [['Gouda', 'Delft']]]

In [15]:
profile = ['Stefan', 'Vanli', 'male', 29, 'Moscow', 'Russian']
print('Before change:', profile)
profile[0] = 'Alena'
profile[2] = 'female'
profile[5] = 'Polish'
print('After change: ', profile)

Before change: ['Stefan', 'Vanli', 'male', 29, 'Moscow', 'Russian']
After change:  ['Alena', 'Vanli', 'female', 29, 'Moscow', 'Polish']

In [17]:
print('Before change:', profile)
del(profile[5])
print('After change:', profile)

Before change: ['Alena', 'Vanli', 'female', 29, 'Moscow', 'Polish']
After change: ['Alena', 'Vanli', 'female', 29, 'Moscow']

In [3]:
colors_list = 'Red white blue orange yellow pink purple'.split()
colors_list

['Red', 'white', 'blue', 'orange', 'yellow', 'pink', 'purple']

In [4]:
'red, blue, orange, white, yellow'.split(',')

['red', ' blue', ' orange', ' white', ' yellow']

In [5]:
'war x criminal x punishment x война'.split('x')

['war ', ' criminal ', ' punishment ', ' война']

In [7]:
A = [1, 2, 3, 4, 5]
B = A
print(A)
print(B)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [8]:
B = A[:]
print(A)
print(B)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [9]:
B[0] = 6
print(A)
print(B)

[1, 2, 3, 4, 5]
[6, 2, 3, 4, 5]

In [18]:
A = [1]
A.append([2, 3, 4, 5])
A

[1, [2, 3, 4, 5]]

In [20]:
{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4 ,4, 4), ('key5'): 5}

{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5}

In [28]:
DICT = {'Thriller': 1982, 'Back in Black': 1980, 'The Dark Side of the Moon': 1973, 'The Bodyguard': 1992}
DICT

{'Thriller': 1982,
 'Back in Black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992}

In [29]:
DICT['Thriller']

1982

In [30]:
DICT['The Bodyguard']

1992

In [33]:
Dict = {'A': 1, 'B': "2", "C": [3, 3, 3], "D": (4, 4, 4), 'E': 5, 'F': 6}
Dict

{'A': 1, 'B': '2', 'C': [3, 3, 3], 'D': (4, 4, 4), 'E': 5, 'F': 6}

In [34]:
DICT['Graduation']='2007'

In [35]:
DICT

{'Thriller': 1982,
 'Back in Black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992,
 'Graduation': '2007'}

In [36]:
del(DICT['Graduation'])
DICT

{'Thriller': 1982,
 'Back in Black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992}

In [41]:
'The Bodyguard' in DICT

True

In [44]:
DICT.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard'])

In [45]:
DICT.values()

dict_values([1982, 1980, 1973, 1992])

In [22]:
dictionary = {1: 123, 2: 223, 3: 323}
dictionary

{1: 123, 2: 223, 3: 323}

In [23]:
dictionary[2]

223

In [24]:
dictionary.values()

dict_values([123, 223, 323])

In [26]:
del(dictionary[1])
del(dictionary[3])
dictionary

{2: 223}

In [27]:
dictionary[4] = 424
dictionary

{2: 223, 4: 424}

In [29]:
travel_database = {'001': 'Amsterdam', '002': 'Rotterdam', '003': 'Den Haag'}
travel_database

{'001': 'Amsterdam', '002': 'Rotterdam', '003': 'Den Haag'}

In [31]:
travel_database['001']

'Amsterdam'

In [32]:
travel_database['004'] = 'Delft'
travel_database['005'] = 'Gouda'
travel_database

{'001': 'Amsterdam',
 '002': 'Rotterdam',
 '003': 'Den Haag',
 '004': 'Delft',
 '005': 'Gouda'}

In [33]:
travel_database.keys()

dict_keys(['001', '002', '003', '004', '005'])

In [34]:
travel_database.values()

dict_values(['Amsterdam', 'Rotterdam', 'Den Haag', 'Delft', 'Gouda'])

In [37]:
del(travel_database['001'])
travel_database

{'002': 'Rotterdam', '003': 'Den Haag', '004': 'Delft', '005': 'Gouda'}

In [38]:
'002' in travel_database

True

In [39]:
'001' in travel_database

False

In [6]:
set_example = {'Stefan', 'Alena', 'John', 'Serge', 'Alena', 'Adam'}
set_example

{'Adam', 'Alena', 'John', 'Serge', 'Stefan'}

In [7]:
list = ('Stefan', 'Alena', 'John', 'Serge', 'Alena', 'Adam')
set_list = set(list)
set_list

{'Adam', 'Alena', 'John', 'Serge', 'Stefan'}

In [10]:
NamesList = ('Stefan', 'Alena', 'Ivan', 'Joe', 'Serge', 'Ian', 'Ivan')
NamesList

('Stefan', 'Alena', 'Ivan', 'Joe', 'Serge', 'Ian', 'Ivan')

In [14]:
NamesSet = set(NamesList)
NamesSet

{'Alena', 'Ian', 'Ivan', 'Joe', 'Serge', 'Stefan'}

In [16]:
NamesSet2 = set(['Stefan', 'Alena', 'Ivan', 'Joe', 'Serge', 'Ian', 'Ivan'])
NamesSet2

{'Alena', 'Ian', 'Ivan', 'Joe', 'Serge', 'Stefan'}

In [17]:
NamesSet3 = {'Stefan', 'Alena', 'Ivan', 'Joe', 'Serge', 'Ian', 'Ivan'}
NamesSet3

{'Alena', 'Ian', 'Ivan', 'Joe', 'Serge', 'Stefan'}

In [18]:
NamesSet2.add('Adam')
NamesSet2

{'Adam', 'Alena', 'Ian', 'Ivan', 'Joe', 'Serge', 'Stefan'}

In [19]:
NamesSet2.remove('Adam')
NamesSet2

{'Alena', 'Ian', 'Ivan', 'Joe', 'Serge', 'Stefan'}

In [21]:
'Alena' in NamesSet2

False

In [29]:
name_set_1 = {'Adam', 'Alena', 'Ian', 'Ivan', 'Joe', 'Serge', 'Stefan'}
name_set_2 = {'Adam', 'Alena', 'John', 'Bob', 'Irene', 'Maria', 'Stefan'}
name_set_3 = {'Alex', 'Tadeusz', 'Remigiusz', 'Tomasz', 'Irene', 'Maria', 'Stefan'}
name_set_1, name_set_2, name_set_3

({'Adam', 'Alena', 'Ian', 'Ivan', 'Joe', 'Serge', 'Stefan'},
 {'Adam', 'Alena', 'Bob', 'Irene', 'John', 'Maria', 'Stefan'},
 {'Alex', 'Irene', 'Maria', 'Remigiusz', 'Stefan', 'Tadeusz', 'Tomasz'})

In [30]:
intersection = name_set_1 & name_set_2 & name_set_3
intersection

{'Stefan'}

In [31]:
intersection = name_set_1 & name_set_2
intersection

{'Adam', 'Alena', 'Stefan'}

In [32]:
intersection = name_set_2 & name_set_3
intersection

{'Irene', 'Maria', 'Stefan'}

In [33]:
intersection = name_set_1 & name_set_3
intersection

{'Stefan'}

In [41]:
name_set_1.difference(name_set_2)

{'Ian', 'Ivan', 'Joe', 'Serge'}

In [42]:
name_set_2.difference(name_set_1)

{'Bob', 'Irene', 'John', 'Maria'}

In [43]:
name_set_2.intersection(name_set_3)

{'Irene', 'Maria', 'Stefan'}

In [47]:
name_set_5 = name_set_3.union(name_set_1.union(name_set_2))
name_set_5

{'Adam',
 'Alena',
 'Alex',
 'Bob',
 'Ian',
 'Irene',
 'Ivan',
 'Joe',
 'John',
 'Maria',
 'Remigiusz',
 'Serge',
 'Stefan',
 'Tadeusz',
 'Tomasz'}

In [48]:
name_set_1.union(name_set_2)

{'Adam',
 'Alena',
 'Bob',
 'Ian',
 'Irene',
 'Ivan',
 'Joe',
 'John',
 'Maria',
 'Serge',
 'Stefan'}

In [49]:
set(name_set_1).issuperset(name_set_2)

False

In [51]:
set(name_set_3).issuperset(name_set_5)

False

In [56]:
set(name_set_2).issubset(name_set_1)

False

In [53]:
set(name_set_3).issubset(name_set_5)

True

In [57]:
name_set_1

{'Adam', 'Alena', 'Ian', 'Ivan', 'Joe', 'Serge', 'Stefan'}

In [58]:
set({'Adam', 'Alena', 'Stefan'}).issubset(name_set_1)

True

In [59]:
name_set_1.issuperset({'Stefan', 'Alena'})

True

In [60]:
set = {'A', 'A'}
set

{'A'}

In [70]:
A=((11,12),[21,22])
A[1]

[21, 22]

In [71]:
A=((1),[2,3],[4])
A[2][0]

4

In [73]:
A=["hard rock",10,1.2]
del(A[1])
A

['hard rock', 1.2]

In [74]:
len(("disco",10,1.2, "hard rock",10))

5

In [76]:
test_dict = { "The Bodyguard":"1992", "Saturday Night Fever":"1977"}
test_dict.values()

dict_values(['1992', '1977'])

In [79]:
V={'1','2'}
V.add('3')
V

{'1', '2', '3'}

In [80]:
'1' in {'1','2'}

True